{% extends "layout.html" %}
{% block content %}
    <h1>Automated Invoice Management System</h1>
    <div class="col-md-5 mb-3"></div>
    <div class="content-section">
        <h3 class="text-primary">Broker</h3>
        <p class="text-shadow">Process Invoice</p>
        <p class="text-shadow">If low accuracy process it manually</p>
    </div>
    <div class="col-md-4"></div>
    <div class="content-section">
        <h3 class="text-primary">Admin</h3>
        <p class="text-shadow">Assign Broker to process invoice</p>
        <p class="text-shadow">Manage Brokers</p>
        <p class="text-shadow">Manage business with companies</p>
        <p class="text-shadow">Monitor revenue and modify commission</p>
    </div>
    <div class="col-md-4"></div>
    <div class="content-section">
        <h3 class="text-primary">Company</h3>
        <p class="text-shadow">Annotate invoice to obtain coordinates of required fields</p>
        <p class="text-shadow">Upload invoices with respective coordinates file</p>
        <p class="text-shadow">View and change status of invoices</p>
        <p class="text-shadow">View and manage inventory</p>
    </div>
{% endblock content %}