{% extends "layout.html" %}
{% block content %}
        {% for item in items %}
        <div class="content-section">
                <div class="media-body">
                        <h3><a class="article-title"  href="{{ url_for('view_invoice_by_id', invoice_id=item["invoice_id"])}}">Invoice {{ item["invoice_id"] }}</a></h3>
                        {% for key in item.keys() %}
                                {% if key=='Accuracy' %}
                                        <h5 class="text-success">{{ key }} : {{ item[key] }}</h5>
                                {% elif key!='Items' and key!='invoice_id'%}
                                        <p class="text-warning">{{ key }} : {{ item[key] }}</p>
                                {% elif key!='invoice_id' %}
                                        <h4 class="text-primary">Products</h4>
                                        {% for product in item[key] %}
                                                <p class="text-shadow">{{ product[0].title()}} - QTY: {{product[1]}}</p>
                                        {% endfor %}
                                {% endif %}
                        {% endfor %}
                </div>
        </div>
        <div class="col-md-4"></div>
        {% endfor %}
{% endblock content %}